* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cafdff;
}
.logo {
  width: 300px;
  padding: 0 16px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
li {
  list-style: none;
}
li a {
  font-size: 24px;
  font-weight: bold;
  padding-left: 16px;
  color: #000;
}
/* Header Section */
header {
  background-color: #eadcff;
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 74px;
}
.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;
}
button {
  background-color: #05c7cf;
  color: white;
  border: none;
  padding: 8px 6px;
  font-size: 24px;
  cursor: pointer;
}
.row {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Section */

#about {
  padding: 48px 0;
  background-color: #f8ffdc;
}
h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}
.section__description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__description--wrapper {
  width: 60%;
  padding: 0 24px;
}
.section__description--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}
.about__img--wrapper {
  width: 40%;
  padding: 0 24px;
}
img {
  width: 100%;
}

#discord {
  padding: 48px 0;
  background-color: #cefeff;
}
#contact {
  padding: 48px 0;
  background-color: #dce9ff;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}
input,
textarea {
  margin-bottom: 24px;
  font-size: 20px;
  padding: 6px 12px;
}
/* Footer  */
footer {
  background-color: #aaf5ff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
  height: 30vh;
}
.footer__logo {
  max-width: 480px;
}
.footer__links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.footer__link {
  font-size: 32px;
  text-decoration: none;
  color: #054ccf;
  font-weight: bold;
}
footer p {
  font-size: 20px;
}
